:root {
    --vinho: #561d25;
    --bege: #cfa574;
    --branco:#ffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    color: var(--branco);
}

/* fonts */
@font-face {
    font-family: britanny;
    src: url(../font/Brittany.otf);
}

@font-face {
    font-family: hatton;
    src: url(../font/PP-Hatton-Medium-500.otf);
}
@font-face {
    font-family: sara;
    src: url(../font/Sora-Light.otf);
}
@font-face {
    font-family: sara-bold;
    src: url(../font/Sora-ExtraBold.otf);
}
@font-face {
    font-family: sara-light;
    src: url(../font/Sora-ExtraLight.otf);
}

body {
    background-color: var(--vinho);
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-bio {
    width: 400px;
    height: 1400px;
    margin-top: 2rem;
    color: var(branco);
    text-align: center;
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.perfil .circulo-perfil {
    position: relative;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1rem;
    font-family: sara-light;
}

.perfil .circulo-perfil ul li {
    position: absolute;
    top: 0;
    list-style: none;
    transform-origin: 0 6rem;
    /* calc --> 270graus/36 variaveis = 7,5 */
    transform: rotate(calc(6.5deg * var(--i)));
}

.perfil .foto-perfil {
    position: relative;
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
    border: var(--bege) solid 5px;
    margin-left: -9.5rem;
    margin-top: 2rem;

}

.titulo-profisao {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    margin-left: 3.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
}

.titulo-nome {
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
    font-family: sara;
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: -0.5rem;
}

.titulo-sobrenome {
    margin-top: -1.7rem;
    display: flex;
    justify-content: space-between;
    margin-left: 10.2rem;
    font-family: sara-bold;
    font-size: 2rem;
}

.banner-servico {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.banner-1{
    background: url('../img/banner-gratuito.png');
    width: 23rem;
    height: 13rem;
    background-size: cover;
    margin-bottom: 1rem;
    border-radius: 10%;
    border: var(--bege) solid 2px;
    cursor: pointer;
    transition: .5s ease all;

}
.banner-1:hover {
    background: linear-gradient( rgba(255, 255, 255, 0.097), rgba(255, 255, 255, 0.097) 100%), url('../img/banner-gratuito.png');
    width: 23rem;
    height: 13rem;
    background-size: cover;
    margin-bottom: 1rem;
    border-radius: 10%;
    border: var(--bege) solid 2px;
    cursor: pointer;

}
.banner-1 iframe{
    margin-top: 9rem;
    margin-left: 18rem;
}

/* banner palestra in company */
.banner-2{
    background: url('../img/banner-in-company.png');
    width: 23rem;
    height: 13rem;
    background-size: cover;
    margin-bottom: 1rem;
    border-radius: 10%;
    border: var(--bege) solid 2px;
    cursor: pointer;
    transition: .5s ease all;

}
.banner-2:hover {
    background: linear-gradient( rgba(255, 255, 255, 0.097), rgba(255, 255, 255, 0.097) 100%), url('../img/banner-in-company.png');
    width: 23rem;
    height: 13rem;
    background-size: cover;
    margin-bottom: 1rem;
    border-radius: 10%;
    border: var(--bege) solid 2px;
    cursor: pointer;

}

/* banner mentoria */
.banner-3{
    background: url('../img/banner-mentoria.png');
    width: 23rem;
    height: 13rem;
    background-size: cover;
    margin-bottom: 1rem;
    border-radius: 10%;
    border: var(--bege) solid 2px;
    cursor: pointer;
    transition: .5s ease all;

}
.banner-3:hover {
    background: linear-gradient( rgba(255, 255, 255, 0.097), rgba(255, 255, 255, 0.097) 100%), url('../img/banner-gratuito.png');
    width: 23rem;
    height: 13rem;
    background-size: cover;
    margin-bottom: 1rem;
    border-radius: 10%;
    border: var(--bege) solid 2px;
    cursor: pointer;

}

/* banner escritório de advocacia */
.banner-4{
    background: url('../img/banner-gratuito.png');
    width: 23rem;
    height: 13rem;
    background-size: cover;
    margin-bottom: 1rem;
    border-radius: 10%;
    border: var(--bege) solid 2px;
    cursor: pointer;
    transition: .5s ease all;

}
.banner-4:hover {
    background: linear-gradient( rgba(255, 255, 255, 0.097), rgba(255, 255, 255, 0.097) 100%), url('../img/banner-gratuito.png');
    width: 23rem;
    height: 13rem;
    background-size: cover;
    margin-bottom: 1rem;
    border-radius: 10%;
    border: var(--bege) solid 2px;
    cursor: pointer;

}

.logo {
    width: 5rem;
}